<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="CSS/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        
        <form action="login.php" method="post" class="form">
            <img src="images/user-image.png" id="user">
            <div class="formInput">
                <label for="username">
                        Username:
                </label>
                <input type="text" id="username" name="username" class="Input" />
            </div>
            <div class="formInput">   
                <label for="pass">Password:</label>
                <input type="password" id="pass" name="pass" class="Input"/>
            </div>
           
            <input type="submit" value="Login" id="login-submit">
        </form>
      
    </body>
    
</html>