<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Posts</h1>
    <ul>     
        <li><%= post.title %></li>
        <li><%= post.content %></li>
        <li><%= post.date_posted %></li>
    </ul>
</body>
</html>